.form {
    padding: 40px 20px;
    background: #f7f7f7
}

@media (min-width: 768px) {
    .form {
        padding:80px 20px;
    }
}

.form input,.form textarea {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: solid 2px #ddd;
    border-radius: 0;
    box-shadow: none
}

.form input:focus,.form textarea:focus {
    outline: 0;
    border-color: #3dadb2;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: none
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor
}

.section-banner {
    .icon {
    margin-right: 10px;
    color: #3dadb2;
    vertical-align: top
    }
    #hero-form {
    min-height: 550px;
    @include media-breakpoint-up(lg) {
        min-height: 700px;
        }
    }
}